---
layout: base.liquid
---

<header class="home" style="background-image: url({{header.image}});">

    <div class="header-content">
        <h1 class="page-title">{{header.title}}</h1>
        <h5 class="page-subtitle">{{header.subtitle}}</h5>
    </div>
    <span class="copyright">{{header.copyright | mdfy }}</span>



</header>
<main class="home">

{% include _text_block.liquid %}

{% include _iwant.liquid %}

<section class="teasers">
    {% for item in teaser %}
        <div class="teaser {{item.link.url}}">
            <h5 class="headline">{{item.headline}}</h5>
            <p class="description">{{item.description}}</p>
            {%if item.icon.url != '' %}
                <img class="teaser-icon" src="{{item.icon.url}}" alt="{{item.icon.name}}">
            {% endif %}
            <a href="/{{item.link.url}}" class="link">{{item.link.text}}</a>
        </div>
    {% endfor %}
</section>

{% include _teamslider.liquid %}

{% include _form.liquid %}
</main>

