<section class="form-section">
    <h3>{{form.title}}</h3>
    <form name="contact {{form.id}}" method="POST" data-netlify="true" data-netlify-recaptcha="true">
        <div class="part-one">
            <input type="text" name="name" id="name" placeholder="{{form.placeholder.name}}">
            <input type="email" name="email" id="email" placeholder="{{form.placeholder.email}}">
        </div>
            <div class="part-two">
            <textarea name="message" id="message" placeholder="{{form.placeholder.textarea}}"></textarea>
            <div class="captcha" data-netlify-recaptcha="true"></div>

            <input type="submit" class="submit" value="{{form.placeholder.send}}">
        </div>
    </form>

</section>