<section class="satzung two-col">
    <div class="col-1">
        <h3>{{satzung.title}}</h3>
        <p>{{satzung.excerpt}}</p>
        <a href="{{satzung.button.link}}" class="button">{{satzung.button.name}}</a>
    </div>
    <div class="col-2">
        <h3>{{leitbild.title}}</h3>
        <p>{{leitbild.excerpt}}</p>
        <a href="{{leitbild.button.link}}" class="button">{{leitbild.button.name}}</a>
    </div>

</section>