<section class="team">
    <h3>{{team.title}}</h3>
    <div class="members">
        {% for item in team.members %}
            <div class="member {{item.name | tlc}} {% if forloop.first %}active{% endif %}" onclick="toogleMember(this)">
                <img class="member-image" src="{{item.image.url}}" alt="{{item.image.name}}">
                <h5>{{item.name}}</h5>
            </div>
        {% endfor %}
    </div>
    <div class="member-descriptions">
        {% for item in team.members %}
            <div class="member-description {{item.name | tlc}} {% if forloop.first %}active{% endif %}">
                <p>{{item.description | markdownify }}</p>
            </div>
        {% endfor %}
    </div>
</section>

<script>
    function toogleMember(el) {
        const elClass = el.classList[1];
        const targ = document.querySelector(`.member-description.${elClass}`);

        const membersAll = document.querySelectorAll(`.member`);
        const descriptionAll = document.querySelectorAll('.member-description');

        membersAll.forEach(item => item.classList.remove('active'));
        descriptionAll.forEach(item => item.classList.remove('active'));
        
        targ.classList.add('active');
        el.classList.add('active');
    }
</script>