<section class="team">
    <h3>{{team.title}}</h3>
    <div class="members">
        {% for member in collections.team %}
            <div class="member {{member.data.first-name | tlc}} {% if forloop.first %}active{% endif %}" onclick="toogleMember(this)">
                <img class="member-image" src="{{member.data.image}}" alt="{{member.data.first-name}}">
                <h5>{{member.data.first-name}}</h5>
            </div>
        {% endfor %}
    </div>
    <div class="member-descriptions">
        {% for member in collections.team %}
            <div class="member-description {{member.data.first-name | tlc}} {% if forloop.first %}active{% endif %}">
                <p>{{member.data.about |mdfy }}</p>
            </div>
        {% endfor %}
    </div>
</section>

<script>
    function toogleMember(el) {
        const elClass = el.classList[1];
        const targ = document.querySelector(`.member-description.${elClass}`);

        const membersAll = document.querySelectorAll(`.member`);
        const descriptionAll = document.querySelectorAll('.member-description');

        membersAll.forEach(item => item.classList.remove('active'));
        descriptionAll.forEach(item => item.classList.remove('active'));
        
        targ.classList.add('active');
        el.classList.add('active');
    }
    function setRandomMember() {
        const mems = document.querySelectorAll(`.member`);
        const randomNumber =  Math.floor(Math.random() * mems.length);
        const randomMember = mems[randomNumber];
        toogleMember(randomMember);
    }
    function shuffleMembers() {
        const mems = document.querySelectorAll(`.member`);
        let order = [1,2,3,4];
        order.sort(() => (Math.random() > .5) ? 1 : -1);
        mems.forEach((i, index) => { i.classList.add(`order-${order[index]}`)});
    }
    setRandomMember();
    shuffleMembers();
</script>