<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    

    <title>{% if page.url == '/'%} {{title}} {% else %} Werkstatt - {{title}}{% endif %}</title>

    {% seo %}
</head>
<body class="body {{title | slug}} {{class}}" class="loading">

    {%- include _menu.liquid %}

    {{content}}

    {% include _footer.liquid %}
</body>
</html>
