---
layout: base.liquid
---

<header style="background-image: url({{header.image}});">

    <div class="header-content">
        <h1 class="page-title">{{header.title}}</h1>
        <h5 class="page-subtitle">{{header.subtitle}}</h5>
    </div>

    <div class="i-want">
        <h2>{{i_want.title}}</h2>
        <div class="wants">
            {% for item in i_want.wants %}
                <div class="want-item {{bool ? 'active': ''}}" onclick="this.classList.toggle('active');">
                <span class="box">
                    <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="23px" height="26px" viewBox="0 0 23 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Path 2</title>
                            <g id="wireframes-v0.6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                                <g id="Home" transform="translate(-179.000000, -914.000000)" stroke="#B9F6B7" stroke-width="4">
                                    <g id="Ich-will" transform="translate(32.000000, 690.000000)">
                                        <path d="M149.012766,240.121743 C152.41821,244.234547 155.360711,249.072161 157.430655,246.887042 C159.687055,243.221728 163.21017,236.40295 168,226.430705" id="Path-2"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <h6>{{-item.title}}</h6>
                </div>
            {% endfor %}
        </div>
    </div>

    <span>{{-header.copyright}}</span>

</header>
<section class="text-block">
    <h3>{{text_block.headline}}</h3>
    <p class="copytext">{{text_block.copytext}}</p>
</section>

<section class="teasers">
    {% for item in teaser %}
        <div class="teaser {{item.link.url}}">
            <h5 class="headline">{{item.headline}}</h5>
            <p class="description">{{item.description}}</p>
            <img class="teaser-icon" src="{{item.icon.url}}" alt="{{item.icon.name}}">
            <a href="/{{item.link.url}}">{{item.link.text}}</a>
        </div>
    {% endfor %}
</section>



<section class="team">
    {% for item in team %}
        <div class="member-images">
            <div class="member-image">
                <img class="teaser-icon" src="{{item.icon.url}}" alt="{{item.icon.name}}">
                <h5>{{item.name}}</h5>
            </div>

        </div>
    {% endfor %}

    {% for item in team %}
        <div class="member-description">
            <p>{{item.description}}</p>
        </div>
    {% endfor %}
</section>



