---
layout: base.liquid
---

<header>
    <h1 class="page-title">{{title}}</h1>
    {% if subtitle %}<span class="page-subtitle">{{subtitle}}</span>{% endif %}
    {% if header.copyright %}<span class="copyright">{{header.copyright}}</span>{% endif %}
</header>

<main class="calendar">
    <div class="grid">
        {%- for post in collections.calendar -%}
            <div class="item {{post.data.category}}">
                <span class="title">{{ post.data.title }}</span>
                <span class="description">{{ post.data.description }}</span>
                <span class="trainer">{{ post.data.trainer }}</span>
                <span class="dates"><span class="start_date">{{ post.data.start_date | dateformat }}</span> - <span class="end_date">{{ post.data.end_date | dateformat }}</span></span>
                    <div class="more">
                    <span class="location">{{ post.data.location }}</span>
                    <span class="time">{{ post.data.time }}</span>
                    <span class="price">{{ post.data.price }}</span>        
                </div>
            </div>
        {%- endfor -%}
    </div>
</main>