---

layout: base.liquid
class: contact
---

{% include _header.liquid %}

<main>
    <section class="contact-profiles">
        <div class="cards">
            {% for member in collections.team %}
                <div class="card {{member.data.color}}">
                    <h5>{{member.data.name}}</h5>
                    <a href="tel:{{member.data.phone}}">{{member.data.phone}}</a>
                    <a href="mailto:{{member.data.mail}}">{{member.data.mail}}</a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="contact-section">
        {{content}}
    </section>
</main>
