---

layout: base.liquid

---

<header class="page {{title | slug }}" style="background-image: url({{header.image}});">
    <h1>{{title}}</h1>
    {% if subtitle %}<span>{{subtitle}}</span>{% endif %}
    {% if header.copyright %}<span class="copyright">{{header.copyright}}</span>{% endif %}

</header>

<main class="page {{title | slug }}">

    {% for block in sections %}
        {% assign template = block.template %}
        {% case template %}
            {% when 'quote' %}
                {% include _quote.liquid, title=block.title text=block.text %}
            {% when 'text_image_block' %}
                {% include _text_image_block.liquid image=block.image text=block.text %}
            {% when 'tabs' %}
                {% include _tabs.liquid image=block.image text=block.text %}
            {% when 'form' %}
                {% include _form.liquid title=block.tab items=block%}
        {% endcase %}
    {% endfor %}


</main>